@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the company</h1>
    <p>The Company Profile in Acquire controls how your brand appears to users within your Web Widget.
    Customize your organization’s name, photo, and contact information in the Company Profile settings.</p>

    <h2>Head Quaters</h2>
    <ul>
        <li>Otawa Canada</li>
        <li>Delhi India</li>
    </ul>

    <h2>staff</h2>
    <p>Arman Malik (Manager)</p>
    <p>Krishna Kappor (CA)</p>

    <h2>Product Description</h2>
    <p>We are Selling Electronic products</p>
    </div>
